@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 100%;
    line-height: 1.7;
    font-weight: 400;
}

@theme {
    --color-primary: #387eda;
    --color-primary-dull: #275ed9;
    --color-light: #EEF7FF;
    --color-text-color: #414141;
}


html {
  scrollbar-width: thin;
  scrollbar-color: #387eda #f8f9fa;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #387eda;
  border-radius: 5px;
  border: 2px solid #f8f9fa;
}


::-webkit-scrollbar-thumb:hover {
  background: #2b62a6;
}